@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

.bitcount {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;

  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.smth {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.svg {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.svg:hover {
  transform: scale(1.9);
  transition: transform 0.3s ease;
}


body {
  font-family: "Bitcount Grid Double", system-ui;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.todo_container {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 26px;
  padding: 2rem;
  width: auto;
  height: auto;
  max-width: 500px;
  margin: 3rem auto;
  color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.todo_container:hover {
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.45);
  transition: box-shadow 0.5s ease;
}

.todo_heading {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.todos {}

.todos:hover {
  transition: box-shadow 0.9s ease;
}

.main_todo_content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(5px);
}


.main_todo_content:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.todo_input {
  flex: 1;
  background: transparent;
  border: none;
  height: 2.5rem;
  color: white;
  font-family: inherit;
  font-size: 1rem;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo_description {
  flex: 1;
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.todo1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
  border-radius: 20px;
  align-items: center;
  margin-left: 5px;
 
  padding: 5px;
}

.todo1 svg {
  cursor: pointer;
}

.todo1 svg:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.contains{
  display: flex;
  gap: 10px;
}